* {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dbdbdb;
  border-radius: 15px;
  height: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8bbdee;
}

::-webkit-scrollbar {
  width: 100%;
  background-color: #c9c9c925;
  height: 10px;
}

body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: scroll;
  font-family: 'Source Sans Pro', sans-serif;

}

.page-layout {
  max-width: 1400px;
  margin: auto !important;
  padding: 0 !important;
}

.main {
  padding: 0 8vw;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  max-width: 1400px;
}

.link {
  font-family: "Source Sans Pro", Arial, sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  margin-right: 15px;
  padding: 0 10px;
}

.banner {
  color: #fff;
  min-height: 300px;
  height: calc(100vh / 2.5);
  max-height: 360px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

div.title h2 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
}


div.title h3 {
  font-size: 32px;
  font-weight: 700;
}

section.new_index div.media {
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.div.media {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.inner_content {
  display: flex;
  align-items: center;
  padding: 0 50px;
}

.search-button {
  margin-left: -50px;
}

section.new_index form {
  margin-top: 30px;
  position: relative;
  top: 0;
  left: 0;
}

section.new_index form input[type="text"] {
  width: 100%;
  height: 46px;
  line-height: 46px;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
}

div.media.discover div.content_wrapper {
  flex-wrap: wrap;
}

div.column_wrapper {
  width: 100%;
}


.link:hover {
  color: #fff;
  cursor: pointer;
}

.nav-link {
  display: inline;
}

header {
  background-color: #032744;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
}

.main-content {
  max-width: 100%;
}

.slider-banner {
  margin: auto;
  box-shadow: 1px 1px 30px rgb(99, 97, 97);
  min-height: 20vh;
}

.search-box {
  font-size: 20px;
  height: 45px;
  padding: 15px 25px;
  border-radius: 25px;
  border: 1px solid white;
}

.search-button {
  height: 45px;
  padding: 10px 26px;
  border: none;
  background: linear-gradient(to right, #1cd2ae 0%, #06bad8 100%);
  border-radius: 30px;
  color: #fff;
}

.column_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding-top: 10px;
  margin-left: 15px;
}

.HeadingContainer {
  color: #032744;
  letter-spacing: 1px;
  width: fit-content;
  font-size: 25px;
  padding: 0 15px;
}

.selector_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  border: 1px solid black;
  border-radius: 30px;
}

.selector_wrapper h3 {
  font-size: 20px;
  padding: 1px 20px;
}

.selected {
  color: #63f0cf;
  border-radius: 15px;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: left 0.25s;
  background-color: #032541;
  border: 0.5px solid #032541
}

.anchor {
  height: 30px;
  padding: 1px 20px;
  width: max-content;
}

.anchor:hover {
  cursor: pointer;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  justify-content: space-evenly;
}

.card-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 400px;
  margin: 10px 5px;
  padding: 0 15px;
}

.vertical-card {
  width: 150px;
  height: 225px;
  border-radius: 10px;
  margin: 20px 10px;
  flex: 0 0 auto;
}

.scroller_wrap {
  position: relative;
  top: 0;
  left: 0;
}


.img-fluid {
  border-radius: 8px !important;
  background-color: #d8d8d8 !important;
}

.card:hover {
  transform: scale(1.02);
  transition: 0.2s ease-in-out;
}

.movie-card {
  box-shadow: 3px 3px 10px 0px #4b4b4b;
  user-select: none;
  height: 225px;
  width: 180px;
  background-color: #01b4e4;
}

.circular-progress-bar {
  position: relative;
  top: -20px;
  left: 10px;
}

.item-title {
  display: block;
  color: #000;
  font-weight: 600;
  padding: 10px 5px 1px 0;
  font-size: 1em;
  margin: 0;
  width: 100%;
  word-wrap: normal;
  overflow-wrap: break-word;
  margin-top: -10px;
}

.item-score {
  font-size: 16px;
  color: gray;
  margin: -5px 0px
}

.btn-primary {
  padding: 3px !important;
  border: none !important;
  outline: none !important;
  margin-bottom: -10px !important;
}

.btn-color-red {
  background-color: #b30a35 !important;
}

.btn-color-blue {
  background-color: #2c93a1 !important;
}

.btn-primary:focus {
  box-shadow: none !important;
}

.card {
  border: none !important;
}

.card-texts {
  display: flex;
  flex-direction: inherit;
  justify-content: flex-end;
  text-align: center;
  font-size: inherit;
}

.card-title {
  font-size: 1.2rem !important;
  margin-bottom: -5px !important;
  background-color: #26222287;
  height: 30px !important;
  overflow: hidden;
  user-select: none;
}

.fav-icon {
  position: absolute;
  top: 0px;
  font-size: 25px;
  left: 5px;
  cursor: pointer;
}

.trailer-icon {
  position: absolute;
  top: 5px;
  left: 35px;
  cursor: pointer;
}

.desc-btn {
  position: relative;
  top: 8px;
}

.img-thumb {
  width: 100px;
  margin: 8px;
}

.listitems {
  background-color: rgb(99, 99, 245);
  color: white;
  font-weight: bold;
}

.banner-title {
  text-shadow: 2px 2px 7px black;
}

h2 {
  font-size: 20px;
}

.banner-title p {
  margin-top: 0;
  margin-bottom: -2rem;
}

table,
th,
td {
  text-align: center;
}

td:nth-child(1) {
  text-align: left;
  min-width: 400px;
}

/* FOOTER */

footer {
  background-color: #032744;
  justify-content: center;
  padding: 0 !important;
}

.footer {
  min-height: 250px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 0 10vw;
}

.footer-items {
  color: white;
  line-height: 15px;
  font-weight: 400;
  padding-top: 30px;
}

p.footer-btn {
  width: 160px;
  height: 30px;
  background-color: white;
  color: #01b4e4;
  font-size: 16px;
  text-transform: capitalize;
  place-items: center;
  display: flex;
  padding: 4px 6px;
  font-weight: 600;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-top: 25px;
}

.watchScreen__player {
  width: 60vw;
  height: 70vh;
}

.close-btn {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #fff;
  top: 0;
  font-size: 25px;
  font-weight: 800;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.904) !important;
}

.ReactModal__Content {
  border: 0.2px solid #4e4e4e !important;
  box-shadow: 1px 2px 15px #7a7a7a73;
  background: none !important;
}

.copyright {
  color: #d3f8ec;
  text-align: center;
  background-color: #81919e52;
}



/*  Media OverView Start*/

.backdrop_poster {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  background-size: cover !important;
  /* filter: contrast(90%) brightness(50%); */
}

.media-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mediaName {
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
}
.release-date{
  font-weight: 400;
  color: #afa7a7;
}
.media-genre-info {
  position: relative;
  font-weight: 400;
}

.poster-section {
  max-width: 300px;
  min-width: 250px;
}

.poster {
  min-width: 250px;
  padding: 30px 25px 10px 25px;
}
.info-section {
  color: #fff;
  padding: 5px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.streaming-platform {
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2px;
  box-sizing: border-box;
  margin-top: 10px;
  border-radius: 5px;
  background: #000;
  padding: 4px 0;
}
.circular-progressBar{
  margin-left: 10px;
}
.user-section{
    display: flex;
    align-items: center;
    padding: 15px 0px 15px 0px;
    font-size: 20px;
    font-weight: 600;
    width: 150px;
    line-height: 20px;
    position: relative;
}
.user-account{
  display: flex;
  flex-direction:row;
  margin: 0 10px;
}
.user-action{
    margin: 0 7px;
    padding: 7px;
    background: #033f55;
    border-radius: 25px;
    font-size: 25px;
}
.overview-section, .production-section{
  font-size: 15px;
  line-height: 18px;
  margin: 0px 0px 15px 0;
}
.youtube-logo{
  width:30px;
  margin:0 5px;
}
.tagline {
  font-size: 14px;
  font-style: italic;
  color: #afa7a7;
}

.mobile-back-poster {
  display: none
}
.score {
  padding: 0 5px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
}
/*  Media OverView End*/



/* For Tablet Device  */

@media only screen and (max-width:768px) {

  .media-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  } 



}







/* For Mobile Device  */

@media only screen and (max-width:576px) {
  ::-webkit-scrollbar-thumb {
    background: #22A8CA;
  }

  .inner_content {
    padding: 0 15px;
    background-size: cover;
  }

  .media-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  } 
  .poster {
    width: 210px;
  }

    .footer {
    flex-direction: column;
    padding-left: 15px;
  }

  .nav-link {
    display: none;
  }

  .nav-menu {
    padding: 15px 0;
  }

  .link {
    padding: 0 0 0 10px;
  }

  .submenu-right .link {
    margin-right: 5px;
  }


  .anchor {
    height: 30px;
    padding: 2px 10px;
    width: max-content;
  }

  .watchScreen__player {
    width: 100vw;
    height: 30vh;
  }

  .close-btn {
    position: absolute;
    right: 40px;
    top: 0px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 800;
  }

  .HeadingContainer {
    padding: 0;
  }

  .card-horizontal {
    padding: 0;
  }
  .backdrop_poster {
    height:100% !important;
  }
  .container-fluid{
    height:100%;
  }


  /* .
  
  .poster-section {
    width: 100vw;
    height: 180px;
  }

  .mobile-back-poster {
    display: inline-block;
    background-size: cover !important;
    height: 250px;
    width: 100vw;
    position: absolute;
    z-index: -2;
  }

  .poster {
    margin: auto;
    padding: 10px 5px;
  } */
}